br {
  line-height: 5px;  
}

label {
  font-weight: bold;
}

.data-panel {
   font-size: 16px;
}

.written-question span {
  background: #A9F5E1;
  float:left;
  padding: 3px;
}

.written-answer span {
  background: #F6E3CE;
  margin-left: 10px;
  float:left;
  padding: 3px;
}

.data-hidden {
  visibility: hidden;
  font-size: 1px;
}

.cml-qslot {
  display:inline-block;
  margin: 0 2 2px;
}

.cml-aslot {
  margin: 0 2 2px;
}

.cml-ffqslot {
  margin: 0 2 2px;
  width: 400px;
}

.cml-chk-inline {
  display:inline-block;
}

.answer_text {
  width: 200px;
}

.cml .legend, label {
  display: block;
  font-weight: 700;
  color: #4C4C4E;
  padding-bottom: 2px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 3px;
  line-height: 105%;
}

.cml .cml_field input[type="text"] {
  padding: 4 0 2px;
}

#sent_box {
  display  : block;
  top      : 100px;
  right    : 150px;
  width    : 500px;
  position : fixed;
  padding  : 10px;
  z-index: 1000;
}

* html #sent_box {
  position : absolute;
}

#sent_box a:hover {
  background:#aaa; color:#fff;
}

/****************************** Pretty Tables ***********************************/

table {
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
  
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;

    font-size: 14px;
}

td, th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 5px;
    text-align: left;    
}

th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  
    font-size: 14px;
}

td:first-child, th:first-child {
    border-left: none;
}

th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

